<div class="battle-nav-bar">
    <div>
        <h2 class="zone">{{ 'zones:names.' + ZoneID[currentZone?.id] | i18next }} <ng-container *ngIf="currentEnemy">-
                {{ 'enemies:names.' +
                EnemyID[currentEnemy.id] | i18next }}</ng-container></h2>
        <h3 class="killcount"> {{ 'killCount' | i18next }}: {{ killCount }}</h3>
    </div>
    <div class="buttons">
        <button *ngIf="currentZone.previousZoneId || currentWave !== 1" (click)="onPreviousWave.emit()">&lt;</button>
        <span>{{ 'wave' | i18next }}: {{ currentWave }}/{{ currentZone.maxWave }}</span>
        <button *ngIf="currentZone.nextZoneId || currentWave !== currentZone.maxWave" class="next"
            (click)="onNextWave.emit()">&gt;</button>
    </div>
</div>