<app-game-menu-container (changeTab)="changeTab($event)"/>
<div class="game">
    @let tab = gameTab | async;
    <app-player-stats-container class="stats"/>
    <app-panel class="resources">

    </app-panel>
    @if (tab === GameTab.main || tab === GameTab.crafting) {
        @if (tab === GameTab.main) {
            <app-battle-container class="battle"/>
            <app-spells-container class="spells"/>
            <app-panel class="buff-items"/>
        } @else {
            <app-crafting-container class="crafting"/>
        }
        <app-equipment-container class="equipment"/>
        <app-inventory-container class="inventory"/>
        <app-panel class="quests"></app-panel>
    }
    @if (tab === GameTab.skillTree) {
        <app-skill-tree-container class="skill-tree"/>
    }
</div>
<button (click)="resetState()">reset state</button>
<button (click)="giveStat('unspentSkillPoints')">give skill points</button>
<button (click)="giveStat('experience')">give xp</button>
