<div
    [style]="{ 'background-image': currentZone.url | url }"
    class="battle-window"
>
    <app-battle-nav-bar-container
        [currentEnemy]="currentEnemy"
        [currentZone]="currentZone"
    />
    <div class="battle-pane">
        @if (!isInCombat) {
            <app-spinner/>
        } @else {
            <app-enemy-window-container
                #enemyElement
                [currentEnemy]="currentEnemy"
            />
        }
        <app-damage-popup
            [x]="enemyX"
            [y]="enemyY"
        />
    </div>
</div>
