@let item = ITEM_DATA[recipe.itemId];

<div
    class="recipe"
    [tooltipContext]="{ item }"
    [tooltipTemplate]="tooltip"
    placement="bottom"
    tooltipClass="tooltip-override"
    (click)="selectItemToCraft.emit(recipe.id)"
>
    <img
        height="48"
        width="48"
        disableOptimizedSrcset
        alt=""
        [ngSrc]="item.url"
    >
</div>
<ng-template
    #tooltip
    let-item="item"
>
    <div class="recipe__tooltip">
        <span>{{ ('items:names.' + ItemID[item.id]) | i18next }}</span>

        @if (item.type === ItemType.equipment) {
            @for (stat of $any(item.stats); track stat.id) {
                <span class="stat">{{ stat.id | statToPercentage:stat.amount }} {{ ('app:playerStats.' + stat.id) | i18next }}</span>
            }
        }
    </div>
</ng-template>
