@use 'variables' as vars

@mixin itemTier($container)
    #{$container}
        &[data-tier="trash"]
            box-shadow: rgba(180, 180, 180, 0.6) 0 3px 8px

        &[data-tier="normal"]
            box-shadow: rgba(255, 255, 255, 0.6) 0 3px 8px

        &[data-tier="uncommon"]
            box-shadow: rgba(60, 179, 113, 0.6) 0 3px 8px

        &[data-tier="rare"]
            box-shadow: rgba(0, 118, 255, 0.6) 0 3px 8px

        &[data-tier="epic"]
            box-shadow: rgba(179, 64, 255, 0.6) 0 3px 8px

        &[data-tier="legendary"]
            box-shadow: rgba(255, 152, 25, 0.6) 0 3px 8px

@mixin panel
    display: flex
    height: 100%
    width: 100%
    background-color: vars.$panelBackgroundColor
    border: vars.$panelBorder
    border-radius: vars.$panelBorderRadius
    box-shadow: vars.$panelShadow
    padding: vars.$panelPadding
