@mixin itemTier($container)
    #{$container}
        &[data-tier="trash"]
            box-shadow: rgba(180, 180, 180, 0.6) 0px 3px 8px

        &[data-tier="normal"]
            box-shadow: rgba(255, 255, 255, 0.6) 0px 3px 8px

        &[data-tier="uncommon"]
            box-shadow: rgba(60, 179, 113, 0.6) 0px 3px 8px

        &[data-tier="rare"]
            box-shadow: rgba(0, 118, 255, 0.6) 0px 3px 8px

        &[data-tier="epic"]
            box-shadow: rgba(179, 64, 255, 0.6) 0px 3px 8px

        &[data-tier="legendary"]
            box-shadow: rgba(255, 152, 25, 0.6) 0px 3px 8px
