@use 'variables' as vars

:host
    // height: vars.$panelHeight
    display: block
    height: 100%
    width: 100%
    background-color: vars.$panelBackgroundColor
    border: vars.$panelBorder
    border-radius: vars.$panelBorderRadius
    box-shadow: vars.$panelShadow
    padding: vars.$panelPadding
