<section class="skill-tree">
    <h3 class="skill-tree__title">{{ ('skill-tree:skillTreesNames.' + SkillTreeID[skillTreeId]) | i18next }}</h3>
    @for (skillRow of skillPoints; track $index) {
        <div class="skill-tree__row">
            @for (skill of skillRow; track skill) {
                @let skillData = AllSkills[skill];
                <div
                    class="skill-tree__node"
                    [class.special]="skillData.special"
                    [style]="{ 'background-image': skillData.url | url }"
                    (click)="handleBuySkillPoint(skill, $event)"
                >
                    <div class="skill-tree__info">
                        <span>{{ unlockedSkillPoints[skill] || 0 }} / {{ skillData.maxLevel }}</span>
                        <span>{{ 'skill-tree:cost' | i18next: { amount: skillData.skillPointCost } }}</span>
                    </div>
                </div>
            }
        </div>
    }
</section>
