<section class="skill-tree">
    <h3 class="skill-tree__title">{{ ('skill-tree:skillTreesNames.' + SkillTreeID[skillTreeId]) | i18next }}</h3>
    @for (skillRow of skillPoints; track $index) {
        <div class="skill-tree__row">
            @for (skill of skillRow; track skill) {
                <div class="skill-tree__node">
                    @let skillData = AllSkills[skill];
                    <img
                        height="80"
                        width="80"
                        alt=""
                        [src]="skillData.url"
                        [class.special]="skillData.special"
                    >
                </div>
            }
        </div>
    }
</section>
