<section class="skill-tree">
    <h3 class="skill-tree__title">{{ ('skill-tree:skillTreesNames.' + SkillTreeID[skillTreeId]) | i18next }}</h3>
    @for (skillRow of skillPoints; track $index) {
        <div class="skill-tree__row">
            @for (skill of skillRow; track skill) {
                @let skillData = AllSkills[skill];
                <div
                    class="skill-tree__node"
                    placement="bottom"
                    tooltipClass="tooltip-override"
                    [style]="{ 'background-image': skillData.url | url }"
                    [tooltipTemplate]="tooltip"
                    [tooltipContext]="skillData"
                    [autoPlacement]="false"
                    [class.special]="skillData.special"
                    (click)="handleBuySkillPoint(skill, $event)"
                >
                    <div class="skill-tree__info">
                        <span>{{ unlockedSkillPoints[skill] || 0 }} / {{ skillData.maxLevel }}</span>
                        <span>{{ 'skill-tree:cost' | i18next: { amount: skillData.skillPointCost } }}</span>
                    </div>
                </div>
            }
        </div>
    }
</section>

<ng-template
    #tooltip
    let-id="id"
>
    <div class="skill-tree__tooltip">
        <span>{{ ('skill-tree:skillPoints.' + SkillPointID[id] + '.name') | i18next }}</span>
        <span>{{ ('skill-tree:skillPoints.' + SkillPointID[id] + '.desc') | i18next }}</span>
        <span>{{ 'skill-tree:add' | i18next }}</span>
    </div>
</ng-template>
