<app-game-menu-container (changeTab)="changeTab($event)"/>
<div class="game-window">
    @let tab = gameTab | async;
    <app-player-stats-container class="stats-window"/>
    <app-panel class="resources-window">

    </app-panel>
    @if (tab === GameTab.main) {
        <app-battle-window-container class="battle-window"/>
        <app-equipment-window-container class="equipment-window"/>
        <app-panel class="spells-window">

        </app-panel>
        <app-inventory-window-container class="inventory-window"/>
        <app-panel class="quests-window">

        </app-panel>
    }
    @if (tab === GameTab.skillTree) {
        <app-skill-tree-window-container class="skill-tree-window"/>
    }
</div>
<button (click)="resetState()">reset state</button>
