@let spellData = SPELLS_DATA[spellId];

<div
    class="spell"
    placement="bottom"
    tooltipClass="tooltip-override"
    [autoPlacement]="false"
    [style]="{ 'background-image': spellData.url | url }"
    [tooltipContext]="{ spellData }"
    [tooltipTemplate]="tooltip"
    (click)="handleCastSpell(spellId, equippedSpell)"
>
    {{ equippedSpell.cooldown }}
</div>

<ng-template
    #tooltip
    let-spell="spellData"
>
    <div class="spell__tooltip">
        <div class="spell__header">
            <span>{{ ('spells:names.' + SpellID[spell.id] + '.name')  | i18next }}</span>
            <span [class]="SpellType[spell.effect?.type]">{{ ('spells:types.' + SpellType[spell.effect?.type])  | i18next }}</span>
        </div>
        <div class="spell__info">
            <span class="mana">{{ 'spells:manaCost' | i18next: { cost: spellData.baseManaCost } }}</span>
            <span class="cooldown">{{ 'spells:cooldown' | i18next: { cooldown: (spellData.baseCooldown - playerStats.spellCooldownReduction) } }}</span>
            @if (spellData.effect.type === SpellType.buff) {
                <span class="duration">{{ 'spells:duration' | i18next: { duration: (spellData.effect.duration + playerStats.increasedSpellDuration) } }}</span>
            }
        </div>
        <span class="spell__desc">{{ ('spells:names.' + SpellID[spell.id] + '.desc')  | i18next }}</span>

    </div>
</ng-template>
