@if (!selectedTownId) {
    <ul>
        <li (click)="selectTown.emit(TownID.laHarpar)">{{ 'map:towns.' + TownID[TownID.laHarpar] | i18next }}</li>
    </ul>
} @else if (!selectedTownBuilding) {
    @let town = TOWNS_DATA[selectedTownId];
    <app-close-button (onClose)="selectTown.emit(null)"/>
    <ul>
        @for (building of town.buildings; track building.tabId) {
            <li (click)="selectTownBuilding.emit(building)">{{ 'map:townTabs.' + TownBuildingID[building.tabId] | i18next }}</li>
        }
    </ul>
} @else {
    <app-close-button (onClose)="selectTownBuilding.emit(null)"/>
    <app-town-building-container [building]="selectedTownBuilding"/>
}
