<nav class="game-menu">
    <ul class="game-menu__tabs">
        <li
            (click)="changeTab.emit(GameTab.main)"
            class="game-menu__tab"
        >{{ ('gameTabs.' + GameTab[GameTab.main]) | i18next }}
        </li>
        @if (level > 1) {
            <li
                class="game-menu__tab"
                (click)="changeTab.emit(GameTab.skillTree)"
            >{{ ('gameTabs.' + GameTab[GameTab.skillTree]) | i18next }}
                @if (skillPoints) {
                    <span
                        class="skill-point"
                    >({{ skillPoints }})</span>
                }
            </li>
        }
        <li
            class="game-menu__tab"
            (click)="changeTab.emit(GameTab.crafting)"
        >
            {{ ('gameTabs.' + GameTab[GameTab.crafting]) | i18next }}
        </li>

    </ul>
</nav>
