@use 'palette' as palette
@use 'mixins' as mixins
@use 'variables' as vars

*
    margin: 0
    padding: 0
    box-sizing: border-box

html
    background-color: #171717
    min-height: 100vh
    max-height: 100vh
    color: #fff
    font-family: "Silkscreen", sans-serif !important
    font-size: 1rem

button
    font-family: "Silkscreen", sans-serif !important

ul
    list-style: none

body
    max-width: 1536px
    margin: 0 auto

    .tooltip-override
        --tooltip-background-color: #{vars.$panelBackgroundColor} !important
        --tooltip-text-color: #fff !important
        --tooltip-border-color: #{palette.$yellow} !important
        height: fit-content
        width: fit-content
        padding: 0
        max-width: fit-content !important
